@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: hidden;
  font-family: var(--font-roobert), sans-serif;
}

@layer utilities {
  .animate-spin-slow {
    animation: spin-in-place 50s linear infinite;
  }
  .animate-spin-slower {
    animation: spin-in-place 70s linear infinite;
  }
  .animate-spin-slowest {
    animation: spin-in-place 85s linear infinite;
  }
}

@keyframes spin-in-place {
  from {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate, 0deg));
  }
  to {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(calc(var(--tw-rotate, 0deg) + 1turn));
  }
}
